@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

.back-drop-modal {
  background-color: rgba(103, 106, 108, 0.57);
}

.app-modal {
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-btn-bump {
  animation: bump 300ms ease-out forwards;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";
  display: block;

  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(1, 99, 99);
  border-color: rgb(1, 99, 99) transparent rgb(1, 99, 99) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.lds-dual-ring.regular {
  width: 80px;
  height: 80px;
}

.lds-dual-ring.regular:after {
  width: 64px;
  height: 64px;
}

.lds-dual-ring.small {
  width: 40px;
  height: 40px;
}

.lds-dual-ring.small:after {
  width: 32px;
  height: 32px;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal-width {
  width: 50vw;
}

.form-group {
  @apply flex justify-between items-center my-3;
}
.form-control {
  @apply sm:text-sm border-gray-300 rounded-md outline-none border-2 p-2;
}
.form-group * {
  @apply flex-1;
}
